extends layout

block content
  h1 All Pages
  if pages && pages.length
    table
      thead
        tr
          th Title
          th Metadata
          th Content
          th Slug
          th Actions
      tbody
        each page in pages
          tr
            td= page.title
            td= page.meta_description
            td= page.content
            td= page.slug
            td
                button.btn.delete-button(type='button' onclick=`deletePage("${page.slug}")`) Delete
                a(href=`/pages/${page.slug}`)
                  button.btn.show-button Show
  else
    p No pages found.

  hr

  h2 Create Page
  <br>
    form(id='create-page-form', method='post', action=`/pages/create`)
      .form-group
        label(for='title') Title:
        input#title.form-control(type='text' name='title' required)
        span#title-error.invalid-feedback
      .form-group
        label(for='meta_description') Meta Description:
        input#meta_description.form-control(type='text' name='meta_description' required)
        span#meta-description-error.invalid-feedback
      .form-group
        label(for='content') Content:
        textarea#content.form-control(name='content' rows='5' required)
        span#content-error.invalid-feedback
      .form-group
        label(for='slug') Slug:
        input#slug.form-control(type='text' name='slug' required) 
        span#slug-error.invalid-feedback 

      button.btn.btn-primary(type='submit') Create Page
      button.btn.btn-primary
        a(href='/admin') Back

    script.
      async function deletePage(slug) {
        try {
          const response = await fetch(`/pages/${slug}`, {
            method: 'DELETE',
          });

          if (response.ok) {
            // Page deleted successfully, you can handle it here
            location.reload(); // Refresh the page or update the UI
          } else {
            // Handle errors here
            console.error('Failed to delete page:', response.statusText);
          }
        } catch (error) {
          console.error('Error:', error);
        }
      }
      
    link(rel='stylesheet', href='/stylesheets/pages.css')
      